
<div class="custom-toolbar">
  <!-- <button class="icon-button menu-button" aria-label="Menu icon">
    <span class="icon">☰</span>
  </button> -->
  <span class="app-title"><b>Google Calendar</b></span>
  <span class="spacer"></span>
  <div class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/date">Date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/upload">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/camera">Snap Camera</a>
      </li>
      <div class="button-container-home">
        <button  mat-flat-button>Login</button>
    </div>
    </ul>
  </div>
</div>


<router-outlet />
