
<div class="navbar">
  <div class="navbar1">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <span class="app-title"><b>Google Calendar</b></span>
   
  </div>
  
  <div class="nav-links" [class.show]="menuOpen"> 
    <a href="/" class="nav-button">Home</a>
    <a href="/date" class="nav-button">Date</a>
    <a href="/upload" class="nav-button">Upload</a>
    <a href="/camera" class="nav-button">Snap Camera</a>
    <button class="nav-button login-button" (click)="navigateTologing()">Login</button>
  </div>
</div>

<router-outlet ></router-outlet>
