.example-spacer {
    flex: 1 1 auto;
  }
  .custom-toolbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #000033; /* Toolbar background color */
    color: white; /* Text color */
  }
  
  .app-title {
    margin: 0 20px; /* Space around the title */
    font-size: 24px; /* Title font size */
  }
  
  .spacer {
    flex-grow: 1; /* Takes up available space between title and navbar */
  }
  
  .navbar {
    display: flex; /* Flexbox for navbar */
  }
  
  .nav-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Horizontal layout */
  }
  
  .nav-item {
    margin-right: 20px; /* Space between nav items */
  }
  
  .nav-link {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size for links */
  }
  
  .nav-link:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .icon-button {
    background: none; /* No background */
    border: none; /* No border */
    color: white; /* Icon color */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 20px; /* Icon size */
    margin: 0 5px; /* Space around icons */
  }
  
  .icon-button:hover {
    opacity: 0.7; /* Slightly fade on hover */
  }
  section {
    display: table;
    left: 90%;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .button-container-home {
    display: flex;
    justify-content: flex-end; 
    margin: 10px;
  }
  
  

  

  @media (max-width: 600px) {
    .custom-toolbar {
      flex-direction: column; /* Stack items vertically */
      align-items: flex-start; /* Align items to the left */
    }
  
    .app-title {
      font-size: 18px; /* Smaller title font size */
      margin: 10px 0; /* Add some space above and below */
    }
  
    .navbar {
      width: 100%; /* Full-width navbar */
    }
  
    .nav-list {
      flex-direction: column; /* Stack nav items vertically */
      width: 100%; /* Full-width */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margin */
    }
  
    .nav-item {
      margin: 5px 0; /* Space between nav items */
      text-align: center; /* Center align text */
    }
  
    .nav-link {
      display: block; /* Make links block-level elements */
      padding: 10px; /* Add padding for clickable area */
      width: 100%; /* Full width for links */
    }
  }